# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

my-ai-agent.console/bin/*
my-ai-agent.console/obj/*
